#center{
    text-align: center;
}
a{
    color: cornflowerblue;
    font-family: 'Roboto Mono', monospace;
}
a:hover{
    color:blue;
}
a:active{
    color:cadetblue;
}
a:visited{
    color:cornflowerblue;
}
body{
    background-color: rgb(27, 25, 25);
}
h1{
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
}
h2{
    color: rgb(224, 221, 221);
    font-family: 'Roboto Mono', monospace;
}
p{
    color: rgb(148, 147, 147);
    font-family: 'Roboto Mono', monospace;
}
#column {
    float: left;
    width: 50%;
    text-align: center;
}
  
  /* Clear floats after the columns */
#row:after {
    content: "";
    display: table;
    clear: both;
}
code{
    background-color:rgb(78, 78, 78);
    color: black;
}