#center{
    text-align: center;
}
a{
    color: #F2542D;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
a:hover{
    background-color: #F2542D;
    color:black;
}
a:active{
    background-color: #F2542D;
}
a:visited{
    color:#F2542D;
}
#navlink{
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    vertical-align:middle;
}
#navlink:hover{
    background-color: #000000;
    color: #fff;
}
#navlink:active{
    background-color: #000000;
    color: #fff;
}
#navlink:visited{
    color:#000000;
}
#navbar{
    display:inline;
    align-items:center;
    vertical-align:middle;
}
.section{
    background-color: #080C08;
	padding: 5px 5px 5px 5px;
    margin-left: 20px;
    margin-right: 20px;
	border-radius: 10px;
}
h1{
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    font-size: 10vh;
}
.intro{
	font-size: 5vw;
}
h2{
    color: rgb(224, 221, 221);
    font-family: 'Roboto Mono', monospace;
    font-size: 7vh;
}
p{
    color: rgb(148, 147, 147);
    font-family: 'Roboto Mono', monospace;
    font-size: 3vh;
}
#column {
    float: left;
    width: 50%;
    text-align: center;
}
  
  /* Clear floats after the columns */
#row:after {
    content: "";
    display: table;
    clear: both;
}
code{
    background-color:rgb(78, 78, 78);
    color: black;
}
html{
	background-color: #0C120C;
}
#logo{
    width: 7vh;
    height: 7vh;
    vertical-align:middle;
}
#logo:hover{
    background-color: #00000000;
}
#navbar{
    background-color: #519E8A;
    position: fixed;
    width:100%;
    top: 0px;
}
#project{
    background-color: #363636;
    border-radius: 10px;
    width: 28vw;
    height: 16vh;
    margin: 1%;
    padding: 1%;
    display: inline-block;
}
#proj-title{
    font-size: 2vw;
}
#proj-title-link{
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}
#proj-title-link:hover{
    background-color: #00000000;
    text-decoration: underline;
    text-decoration-color: white;
}
#proj-desc{
    font-size: 2vh;
}
#button{
    color: black;
    background-color: #F2542D;
    text-decoration: none;
    padding: 7px;
    border-radius: 7px;
    font-size: 3vh;
}
#button:hover{
    background-color: #F47352;
    color:black;
}
