:root {
    --hl1-normal: #FED766;
    --hl1-light:  #FEE59A;
    --hl2-normal: #009FB7;
    --nav-hl:     #141414;
    --nav-fg:     #ffffff;
    --bg-normal:  #272727;
    --bg-light:   #363636;
    --fg-normal:  #feffef;
    --fg-dark:    #CFCCD6;
    --transparent:#00000000;
}


#center{
    text-align: center;
}
a{
    color: var(--hl1-normal);
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
a:hover{
    background-color: var(--hl1-normal);
    color:black;
}
a:active{
    background-color: var(--hl1-normal);
}
a:visited{
    color: var(--hl1-normal);
}
#navlink{
    color: var(--nav-hl);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    vertical-align:middle;
}
#navlink:hover{
    background-color: var(--nav-hl);
    color: var(--nav-fg);
}
#navlink:active{
    background-color: var(--nav-hl);
    color: var(--nav-fg);
}
#navlink:visited{
    color: var(--nav-hl);
}
#navbar{
    display:inline;
    align-items:center;
    vertical-align:middle;
}
h1{
    color: var(--fg-normal);
    font-family: 'Roboto Mono', monospace;
    font-size: 10vh;
}
.intro{
	font-size: 5vw;
}
h2{
    color: var(--fg-normal);
    font-family: 'Roboto Mono', monospace;
    font-size: 7vh;
}
p{
    color: var(--fg-dark);
    font-family: 'Roboto Mono', monospace;
    font-size: 3vh;
}
#column {
    float: left;
    width: 50%;
    text-align: center;
}
  
  /* Clear floats after the columns */
#row:after {
    content: "";
    display: table;
    clear: both;
}
html{
	background-color: var(--bg-normal);
}
#logo{
    width: 7vh;
    height: 7vh;
    vertical-align:middle;
}
#logo:hover{
    background-color: var(--transparent);
}
#navbar{
    background-color: var(--hl2-normal);
    position: fixed;
    width:100%;
    top: 0px;
}
#project{
    background-color: var(--bg-light);
    border-radius: 10px;
    width: 28vw;
    height: 16vh;
    margin: 1%;
    padding: 1%;
    display: inline-block;
}
#proj-title{
    font-size: 2vw;
}
#proj-title-link{
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}
#proj-title-link:hover{
    background-color: var(--transparent);
    text-decoration: underline;
    text-decoration-color: white;
}
#proj-desc{
    font-size: 2vh;
}
#button{
    color: black;
    background-color: var(--hl1-normal);
    text-decoration: none;
    padding: 7px;
    border-radius: 7px;
    font-size: 3vh;
}
#button:hover{
    background-color: var(--hl1-light);
    color:black;
}
