*{
    background-color: #2e3440;
    font-family: MapleMono;
}
h2{
    color: #d8dee9
}
h1{
    color: #d8dee9
}
#center{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
input{
    color: #81a1c1;
}
#tcenter{
    text-align: center;
}
